{% extends 'base.html' %}
{% load weather_tags %}

{% block main %}
    {% if current != None %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <img src="{{ current | icon }}" class="m-20" alt="Not Found">
        </div>
        <div class="col-6" style="position: relative;">
            <div class="vc">
                <p class="display-1 m-0" style="font-weight: 200">
                    {{ current.temp | floatformat:0 }}&deg;
                </p>
                <p class="fs-2 m-0" style="font-weight: 200">
                    {{ current.weather.description }}
                </p>
                <p class="fs-2 m-0">
                    {{ current.city_name }}, {{ current.country_code }}
                </p>
            </div>
        </div>
    </div>
    <hr>
        <div class="row fs-3">
            <div class="col-4 text-center fw-bold">
                Info
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'hourly' %}{% if request.GET.city %}?city={{ request.GET.city }}{% endif %}">Hourly</a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'daily' %}{% if request.GET.city %}?city={{ request.GET.city }}{% endif %}">Daily</a>
            </div>
        </div>
        <hr>
        <div class="row fs-2">
            <div class="col-2"><img src="https://bmcdn.nl/assets/weather-icons/v2.1/line/compass.svg" class="m-15"
                 style="margin-top: -20px; margin-bottom: -20px"></div>
            <div class="col-5 pr">
                <span class="vc">Current Time:</span>
            </div>
            <div class="col-5 pr">
                <span class="vc thin">{% tz_time current.timezone %}</span>
            </div>
        </div>
        <hr>
        <div class="row fs-2">
            <div class="col-2"><img src="https://bmcdn.nl/assets/weather-icons/v2.1/line/sunrise.svg" class="m-15"
                 style="margin-top: -20px; margin-bottom: -20px"></div>
            <div class="col-5 pr">
                <span class="vc">Sunrise</span>
            </div>
            <div class="col-5 pr">
                <span class="vc thin">{{ current.sunrise | get_tz_time:current.timezone }}</span>
            </div>
        </div>
        <hr>
        <div class="row fs-2">
            <div class="col-2"><img src="https://bmcdn.nl/assets/weather-icons/v2.1/line/sunset.svg" class="m-15"
                 style="margin-top: -20px; margin-bottom: -20px"></div>
            <div class="col-5 pr">
                <span class="vc">Sunset</span>
            </div>
            <div class="col-5 pr">
                <span class="vc thin">{{ current.sunset| get_tz_time:current.timezone }}</span>
            </div>
        </div>
        <hr>
        <div class="row fs-2">
            <div class="col-2"><img src="https://bmcdn.nl/assets/weather-icons/v2.1/line/wind.svg" class="m-15"
                 style="margin-top: -20px; margin-bottom: -20px"></div>
            <div class="col-5 pr">
                <span class="vc">Wind</span>
            </div>
            <div class="col-5 pr">
                <span class="vc thin">{{ current.wind_spd | floatformat:1 }} m/s</span>
            </div>
        </div>
        <hr>
{#        <div class="row fs-2">#}
{#            <div class="col-2"><img src="https://bmcdn.nl/assets/weather-icons/v2.1/line/raindrop.svg" class="m-15"#}
{#                 style="margin-top: -20px; margin-bottom: -20px"></div>#}
{#            <div class="col-5 pr">#}
{#                <span class="vc">Precipitation</span>#}
{#            </div>#}
{#            <div class="col-5 pr">#}
{#                <span class="vc thin">{{ current.pop }} %</span>#}
{#            </div>#}
{#        </div>#}
{#        <hr>#}
        <div class="row fs-2">
            <div class="col-2"><img src="https://bmcdn.nl/assets/weather-icons/v2.1/line/cloudy.svg" class="m-15"
                 style="margin-top: -20px; margin-bottom: -20px"></div>
            <div class="col-5  pr">
                <span class="vc">Clouds</span>
            </div>
            <div class="col-5 pr">
                <span class="vc thin">{{ current.clouds }} %</span>
            </div>
        </div>
        <hr>
    {% else %}
        <h2><span class="text-primary">{{ request.GET.city }} </span>Not Found</h2>
    {% endif %}
{#    {{ current }}#}
{% endblock %}