{% extends 'base.html' %}
{% load weather_tags %}

{% block main %}
    {% if daily != None %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <img src="{{ current | icon }}" class="m-20" alt="Not Found">
        </div>
        <div class="col-6" style="position: relative;">
            <div class="vc">
                <p class="display-1 m-0" style="font-weight: 200">
                    {{ current.temp | floatformat:0 }}&deg;
                </p>
                <p class="fs-2 m-0" style="font-weight: 200">
                    {{ current.weather.description }}
                </p>
                <p class="fs-2 m-0">
                    {{ current.city_name }}, {{ current.country_code }}
                </p>
            </div>
        </div>
    </div>
    <hr>

        <div class="row fs-3">
            <div class="col-4 text-center">
                <a href="{% url 'current' %}{% if request.GET.city %}?city={{ request.GET.city }}{% endif %}">Info</a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'hourly' %}{% if request.GET.city %}?city={{ request.GET.city }}{% endif %}">Hourly</a>
            </div>
            <div class="col-4 text-center fw-bold">
                Daily
            </div>
        </div>
        <hr>
        {% for day in daily %}
        <div class="row fs-2">
        <div class="col-4 pr">
            <span class="vc fs-4 w-100 text-center">{{ day.datetime | daily_time }}</span>
        </div>
            <div class="col-2"><img src="{{ day | icon }}" class="m-15"
                 style="margin-top: -20px; margin-bottom: -20px"></div>
            <div class="col-3 pr">
                <span class="vc thin">
                    {{ day.low_temp | floatformat:0 }}&deg; /
                    <span style="font-weight: normal">{{ day.high_temp | floatformat:0 }}&deg;</span>
                </span>
            </div>
            <div class="col-3 pr">
                <span class="vc thin fs-3 r">
                    <img src="https://bmcdn.nl/assets/weather-icons/v2.1/line/raindrop.svg" class="m-15"
                 style="margin: -10px; width: 48px;">{{ day.precip }} %</span>
            </div>
        </div>
        <hr>
        {% endfor %}

    {% else %}
        <h2><span class="text-primary">{{ request.GET.city }} </span>Not Found</h2>
    {% endif %}
{#    {{ daily }}#}
{% endblock %}